/*
 * Documentation specific stylesheet
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900,900i');
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icon.woff2);
 
}

h3 {
    margin-top:0px;
    margin-bottom:15px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
body {
	font-family: 'Roboto', sans-serif;
}
 
.border i {
	color: #fff;
}
.logo {
	margin: 0 auto;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
.logo img {
	width: 250px;
	margin: 0 auto;
}
.bg-color {
	background-color: #666;
}
.btn-color {
	color: #e67819;
}
.head-color {
	color : #e67819;
	text-align: center;
}
.head {
	color : #FFF;
	text-align: center;
	font-weight: lighter;
	font-size: 18px;
}
.head a {
	color : #FFF;
	text-align: center;
}
.yellow-color {
	background-color: #e67819;
	padding: 1px;
}
.head-4 {
	font-size: 18px;
	color: #FFF;
	text-align: center;
}
.logo h1 {
	font-size: 50px;
	font-weight: bolder;
	color: #fff;
}
.lable-ip {
	background: inherit;
	border: none;
	border-bottom-width: medium;
	border-bottom-style: none;
	border-bottom-color: currentcolor;
	border-bottom: 2px solid #3333;
	color: #333;
	box-sizing: border-box;
	font-size: 13px;
	width: 100%;
	padding: 10px 0;
}
/* Style Select Field */
select {
	font-family: inherit;
	background-color: transparent;
	width: 100%;
 padding: $select-padding 0;
 font-size: $select-font-size;
 color: $select-color;
	border: none;
	border-bottom: 2px solid #ccc;
	padding: 10px 0;
}
input:focus {
	border-bottom: 2px solid #F60;
	outline-style: none;
	box-shadow: none;
	 
}
.login  input:focus {
	border-bottom: 0px solid #F60;
	outline-style: none;
	box-shadow: none;
	 
}
/* Remove focus */
select:focus {
	outline: none
}
/* Hide label */
.mdl-selectfield label {
	display: none;
}
/* Use custom arrow */
.mdl-selectfield select {
	appearance: none
}
.mdl-selectfield {
	position: relative;
 &:after {
 position: absolute;
 top: 0.75em;
 right: 0.5em;
        /* Styling the down arrow */
        width: 0;
 height: 0;
 padding: 0;
 content: '';
 border-left: .25em solid transparent;
 border-right: .25em solid transparent;
 border-top: .375em solid $select-border-color;
 pointer-events: none;
}
}

.parallax {
    /* The image used */
    /*background-image: url(../images/bg.jpg);*/
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    width: 100%;
    overflow-y: scroll;
}
.parallax-home {
	/* The image used */
	background-image: url(../images/bg.jpg);
	/* Set a specific height */
	height: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
	position: fixed;
	width: 100%;
}
.btn-rad {
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #3333;
	width: 100%;
}
.btn-grn {
	border-radius: 17px;
	width: 100%;
	border: none;
}
.button {
	color: #333;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
}
.button:hover, .button:focus {
	background-color: #fff;
}
.para {
	margin: 0 -12px 2px;
	float: left;
	color: #999;
	font-size: 13px;
}
.care {
	float: right;
}
.lable-name {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 2px;
}
.calender {
	background-color: #fff;
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid #3333;
	padding: 3px 12px;
}
.ip {
	border-radius: 5px;
	border: 1px solid #3333;
	color: #333;
	padding: 6px;
	width: 100%;
}
.txt-ip {
	background-color: transparent;
	border: none;
	color: #fff;
	padding: 6px;
	width: 80%;
}
.p-txt {
	margin: 0 auto;
	border: 0;
	border-radius: 50%;
	width: 50px;
	background-color: #FFF;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	padding: 13px;
}
.input-group-addon:last-child {
	border-left: 0;
	border-left-width: 0px;
	border-width: 1px;
}
.icon {
	color: #F00;
}
.border {
	border-radius: 5px;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding-left: 7px;
	padding-top: 4px;
}

/*Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.col-6 {
	width: 50%;
}
.col-lt-6 {
	float: left;
}
.col-rt-6 {
	float: right;
}
.lable-size {
	font-size: 12px;
}
.lable-size {
	font-size: 13px;
}
.image {
	width: 115%;
	margin-left: 61px;
}
}
.btn-lg {
	width: 100px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
}
.footer {
	background: #ccc;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
.navbar-header a {
	color: #fff;
	padding: 10px;
}
.navbar-header .navbar-brand {
	color: #fff;
	line-height: 25px;
}
.navbar-header .navbar-brand:hover {
	color: #fff;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #e67819;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
 
.sidebar-nav li:before {
    background-color: #e67819;   
}
 
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 15px 15px 15px 30px;
        font-weight: 400;
            font-size: 18px;
    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
     top: 20px;
    z-index: 999;
    display: block;
    width: 44px;
    height: 32px;
    margin-left: 0px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
}

.dash-box {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 4px;
    text-align: center;
    margin: 60px 0 50px;
}
.dash-box-icon {
        position: absolute;
    left: 42px;
    z-index: 10;
    top: -20px;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    padding: 30px;
}
.dash-box-icon:after {
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
	font-size:22px;
}
.dash-box-icon:before {
    width: 75px;
    height: 75px;
    position: absolute;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dash-box-action > button {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}
.dash-box-body > .dash-box-count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}
.dash-box-body > .dash-box-title {
        font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.dash-box.dash-box-color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dash-box-color-2 .dash-box-icon:after {
    background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
    background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
    background: #fb9f28;
}

.dash-box.dash-box-color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-3 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
    background: #8150e4;
}

.dash-box.dash-box-color-4 {
    background: rgb(140,193,82);
    background: -moz-linear-gradient(top, rgba(140,193,82,1) 0%, rgba(140,193,82,1) 100%);
    background: -webkit-linear-gradient(top, rgba(140,193,82,1) 0%,rgba(140,193,82,1) 100%);
    background: linear-gradient(to bottom, rgba(140,193,82,1) 0%,rgba(140,193,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc152', endColorstr='#70a139',GradientType=0 );
}
.dash-box-color-4 .dash-box-icon:after {
    background: rgba(156,230,75, 0.76);
}
.dash-box-color-4 .dash-box-icon:before {
    background: rgba(156,230,75, 0.50);
}
.dash-box-color-4 .dash-box-icon > i {
    background: #8cc152;
}
 
.dash-box.dash-box-color-5 {
    background: rgb(80,193,223);
    background: -moz-linear-gradient(top, rgba(80,193,223,1) 0%, rgba(59,175,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(80,193,223,1) 0%,rgba(59,175,220,1) 100%);
    background: linear-gradient(to bottom, rgba(80,193,223,1) 0%,rgba(59,175,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc1e9', endColorstr='#3bafda',GradientType=0 );
}
.dash-box-color-5 .dash-box-icon:after {
    background: rgba(80, 193, 223, 0.76);
}
.dash-box-color-5 .dash-box-icon:before {
    background: rgba(126, 210, 240, 0.66);
}

.dash-box-color-5 .dash-box-icon > i {
    background: #3bafda;
}

/* -- Main style ------------------------------------ */
.btn {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87);
}

.btn-default, .btn-link {
  color: rgba(0, 0, 0, 0.87);
}


/* -- Buttons style ------------------------------------ */
.btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;

  transition: all .15s ease-in-out; 
  -o-transition: all .15s ease-in-out; 
  -moz-transition: all .15s ease-in-out; 
  -webkit-transition: all .15s ease-in-out;  
  
  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;  
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}


/* -- Buttons types -------------------------------- */
.btn-raised {
  // shadow depth 1
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24); 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24); 
   
  &:active, &.active, &:active:focus, &.active:focus {
    // shadow depth 2
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
  &:focus {
    // shadow depth 2
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
}

.btn-flat { 
  
}

.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
}

/* -- Buttons colors -------------------------------- */
//## Button template
.btn-temlate (@color500; @color600; @color700; @color800; @color900) {
  background-color: @color500; // Color 500
  
  &:hover {
    background-color: @color600; // Color 600
  }
  
  &:active, &.active {
    background-color: @color600; // Color 600
  }
  
  &:focus {
    background-color: @color700; // Color 700
  }
  
  &:disabled, &.disabled, &[disabled] {
    background-color: darken(#ccc, 10%);
  }
  
  //## color for riple-effect
  .ink {
    background-color: @color800; // Color 800
  }
}
.btn-flat-temlate (@color500; @color600; @color700; @color800; @color900) {
  color: @color500; // Color 500
  background-color: transparent;
  
  &:hover {
    color: @color600; // Color 600
    background-color: lighten(#999, 30%);
  }
  
  &:active, &.active {
    color: @color700; // Color 700
    background-color: lighten(#999, 20%);
  }
  
  &:focus {
    color: @color800; // Color 800
    background-color: lighten(#999, 20%);
  } 
  
  //## color for riple-effect
  .ink {
    background-color: darken(#ccc, 30%);
  }
}

//## Default // color: white
.btn-default, .dropdown-toggle.btn-default {
  .btn-temlate(#fff; lighten(#999, 30%); lighten(#999, 20%); lighten(#999, 12%); lighten(#999, 20%);) 
}
.btn-flat.btn-default {
  .btn-flat-temlate(#212121; darken(#212121, 5%); darken(#212121, 12%); #000; #000;) 
}

//## Primary // color: blue
.btn-primary, .dropdown-toggle.btn-primary {
  .btn-temlate(#5677fc; #4e6cef; #455ede; #3b50ce; #2a36b1;) 
}
.btn-flat.btn-primary {
  .btn-flat-temlate(#5677fc; #4e6cef; #455ede; #3b50ce; #2a36b1;) 
}

//## Success // color: green
.btn-success, .dropdown-toggle.btn-success {
  .btn-temlate(#259b24; #0a8f08; #0a7e07; #056f00; #0d5302;)   
}
.btn-flat.btn-success {
  .btn-flat-temlate(#259b24; #0a8f08; #0a7e07; #056f00; #0d5302;) 
}

//## Info // color: light blue
.btn-info, .dropdown-toggle.btn-info {
  .btn-temlate(#03a9f4; #039be5; #0288d1; #0277bd; #01579b;)   
}
.btn-flat.btn-info {
  .btn-flat-temlate(#03a9f4; #039be5; #0288d1; #0277bd; #01579b;) 
}

//## Warning // color: amber
.btn-warning, .dropdown-toggle.btn-warning {
  .btn-temlate(#ffc107; #ffb300; #ffa000; #ff8f00; #ff6f00;)   
}
.btn-flat.btn-warning {
  .btn-flat-temlate(#ffc107; #ffb300; #ffa000; #ff8f00; #ff6f00;)   
}

//## Danger // color: deep orange
.btn-danger, .dropdown-toggle.btn-danger {
  .btn-temlate(#ff5722; #f4511e; #e64a19; #d84315; #bf360c;)   
}
.btn-flat.btn-danger {
  .btn-flat-temlate(#ff5722; #f4511e; #e64a19; #d84315; #bf360c;)  
}

/* -- Buttons sizes -------------------------------- */
.btn {
  min-width: 88px;
  padding: 10px 14px;
}

.btn-lg, .btn-group-lg>.btn {
  min-width: 122px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3; 
}

.btn-sm, .btn-group-sm>.btn {
  min-width: 64px;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-xs, .btn-group-xs>.btn {
  min-width: 46px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}

.btn-circle {
  width: 56px;
  height: 56px;
  min-width: 56px;
  
  span {
    line-height: 56px;
  }
}

.btn-circle.btn-lg {
  width: 78px;
  height: 78px;
  min-width: 78px;
  
  span {
    line-height: 78px;
  }
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  min-width: 40px;
  
  span {
    line-height: 40px;
  }
}

.btn-circle.btn-xs {
  width: 30px;
  height: 30px; 
  min-width: 30px;
  
  span {
    line-height: 30px;
  }
}


/*-- Button groups --------------------------------- */
.btn-group .btn {
  border-radius: 2px;
}

.btn-group.open .dropdown-toggle {
  outline: 0;
  outline-offset: 0;  
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: 0;
}

.btn-group>.btn:hover, .btn-group-vertical>.btn:hover {
  z-index: 0;
}
 .btn-group>.btn:focus:hover, .btn-group-vertical>.btn:focus:hover, .btn-group>.btn:active:hover, .btn-group-vertical>.btn:active:hover, .btn-group>.btn.active:hover, .btn-group-vertical>.btn.active:hover {
  z-index: 2;
}
 

.checbox-action i
{
	width: 20px;
}
.form-control
{
	border-radius: 0;
 }
 .onoffswitch3
{
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    padding-right: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 100%; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #6dc363; left: 0;
}
.onoffswitch3-inactive .onoffswitch3-switch {
    background: #f17255; right: 0;
   
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}
.panel-heading .accordion-toggle:after {
    
    font-family: 'Glyphicons Halflings';   
    content: "\e114";     
    float: right;        
    color: grey;          
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";   
}

.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 0px;
}
.btn-block
{
  width: 100%;
}
h3.studentname
{
  font-size: 24px;
  margin: 0;
}
.question label {
  font-weight: normal;
}

.btn-action
{
    padding: 0px 8px;
    min-width: 10px;
    box-shadow: inherit;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.btn-action.active 
{
      background: #6ab57b !important;
      color: #fff !important;
   
}
.btn-no.active
{
      background: #e67054 !important;
      color: #fff !important;
   
}
select.present
{
      background: #6ab57b;
    -webkit-appearance: none;
    padding: 5px 0px 5px 10px;
    text-align: center;
    width: 31px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    border: 0;
}
select.absent 
{
      background: #e67054;
    -webkit-appearance: none;
    padding: 5px 0px 5px 10px;
    text-align: center;
    width: 31px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    border: 0;
}
.question-area .panel-body
{
  padding:  0; margin: -1px; border-radius: 0; 
}
.question-area .panel-body .list-group
{
  margin: -1px 0; border-radius: 0;
}

dd {
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 62px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #f17255;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #6dc363;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 30px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
    ========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.app-header a
{
padding: 10px;
color: #fff;
}
.app-header a:hover
{
color: #fff;
}
.app-header .app-title
{
   line-height: 25px;
   position: relative;
   top: 10px;
}