<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Brand
                </a>
            </li>
            <li>
                <a href="#/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#/attendance">Attendance</a>
            </li>
            <li>
                <a href="#/information">Lecture Details</a>
            </li>
            <li>
                <a href="#/question-set">Mentoring</a>
            </li>
            <li>
                <a href="#/dashboard">Doubt Clearing</a>
            </li>

            <li>
                <a href="#/report">Reports</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top yellow-color ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="hamburger is-closed pull-left" data-toggle="offcanvas">
                        <i class="material-icons">menu</i>
                    </a>
                    <a class="navbar-brand"> {{username}} </a> <a ng-click="logout()" type="button" class="pull-right ">
                    <i class="material-icons ">settings_power</i></a>
                </div>
            </div>
        </nav>

        <div class="container">
            <form name="attendanceInfo" ng-init="getBranch()">
                <div>
                    <h3>Attendance</h3>
                    <!-- Standard Select -->
                    <label class="lable-name lable-size" for="Branch">Batch</label>
                    <div class="mdl-selectfield">
                        <select class="browser-default" ng-model="attendanceObj.batch_name" name="batch"
                                  ng-change="loadStudent(attendanceObj.batch_name)" required>
                            <option value="" disabled selected>Select Batch</option>
                            <option ng-repeat="x in branchname" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="lable-size" for="branch">Date</label>
                            <div class="input-group date" id="datetimepicker1">
                                <input class="input lable-ip" type="date" placeholder="dd/mm/yyyy" ng-model="today_date"
                                       ng-disabled="true"/>
                                <span class="input-group-addon calender"> <i
                                        class="material-icons">date_range</i> </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="lable-size" for="Branch">Time</label>
                            <div class='input-group date'>
                                <input class="input lable-ip" type="text" placeholder="{{current_time}}"
                                       ng-model="current_time" ng-bind="current_time" ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <table class="table table-bordered" ng-hide="!studentData.length">
                    <caption>Attendance List</caption>
<!--
                    <p ng-show="totalPresentCount!=0">Total Student Present = {{ totalPresentCount}} <br /> Total Student Absent = {{ totalStudent - totalPresentCount}}</p>
-->
                    <thead>
                    <tr>
                        <th width="80">Roll. No.</th>
                        <th>Student Name</th>
                        <th width="40">Action</th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y:auto; height:400px;">
                    <tr ng-repeat="x in studentData">
                        <td ng-init="attendanceObj.subjectObj[$index].roll_number=x.roll_number">{{x.roll_number}}</td>
                        <td>{{x.studentName}}</td>
                        <td><label class="switch">
                            <input class="switch-input" type="checkbox" checked="true"
                                   ng-init="attendanceObj.subjectObj[$index].attendRow='0'; attendanceObj.subjectObj[$index].attend=attendOptions[attendanceObj.subjectObj[$index].attendRow]"
                                   ng-true-value="'0'" ng-false-value="'1'"
                                   ng-model="attendanceObj.subjectObj[$index].attendRow"
                                   ng-change="attendanceObj.subjectObj[$index].attend=attendOptions[attendanceObj.subjectObj[$index].attendRow];updateTotalCount(attendanceObj.subjectObj[$index].attendRow)"
                            />
                            <span class="switch-label" data-on="{{attendOptions[0]}}"
                                  data-off="{{attendOptions[1]}}"></span>
                            <span class="switch-handle"></span> </label>
                        </td>
                        <!--<td>
                            <select class="browser-default" ng-init="attendanceObj.subjectObj[$index].attend=attendOptions[0]" ng-model="attendanceObj.subjectObj[$index].attend">
                                <option value="{{attendOptions[0]}}" ng-selected="true">{{attendOptions[0]}}</option>
                                <option value="{{attendOptions[1]}}">{{attendOptions[1]}}</option>
                            </select>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <p ng-show="totalPresentCount!=0">Total Student Present = {{ totalPresentCount}} <br /> Total Student Absent = {{ totalStudent - totalPresentCount}}</p>

                <!-- <div ng-if="!studentData.length > 0">
                     <h5>No Student allocated to Batch- {{attendanceObj.batch_name}}</h5>
                 </div>-->
                <br/>
                <div class="">
                    <button class="btn btn-success btn-block" ng-click="attendanceSubmit()"
                            ng-disabled="attendanceInfo.$invalid || !studentData.length">SUBMIT
                    </button>
                </div>
                <br/>
                <br/>
            </form>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script type="text/javascript" charset="utf-8" async defer>
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
        });

        // Ripple-effect animation
        (function ($) {
            $(".ripple-effect").click(function (e) {
                var rippler = $(this);

                // create .ink element if it doesn't exist
                if (rippler.find(".ink").length == 0) {
                    rippler.append("<span class='ink'></span>");
                }

                var ink = rippler.find(".ink");

                // prevent quick double clicks
                ink.removeClass("animate");

                // set .ink diametr
                if (!ink.height() && !ink.width()) {
                    var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                    ink.css({height: d, width: d});
                }

                // get click coordinates
                var x = e.pageX - rippler.offset().left - ink.width() / 2;
                var y = e.pageY - rippler.offset().top - ink.height() / 2;

                // set .ink position and add class .animate
                ink.css({
                    top: y + 'px',
                    left: x + 'px'
                }).addClass("animate");
            })
        })(jQuery);
    </script>
