<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Brand
                </a>
            </li>
            <li>
                <a href="#/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#/attendance">Attendance</a>
            </li>
            <li>
                <a href="#/information">Lecture Details</a>
            </li>
            <li>
                <a href="#/question-set">Mentoring</a>
            </li>
            <li>
                <a href="#/dashboard">Doubt Clearing</a>
            </li>

            <li>
                <a href="#/report">Reports</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" style="background: #fff;">
        <nav class="navbar navbar-default navbar-fixed-top yellow-color ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="hamburger is-closed pull-left" data-toggle="offcanvas">
                        <i class="material-icons">menu</i>
                    </a>
                    <a class="navbar-brand"> {{username}} </a> <a ng-click="logout()" type="button"
                                                                  class="pull-right "><i
                        class="material-icons ">settings_power</i></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <form name="myLecture">
                <div class=" ">
                    <h3>Update Lecture Information</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="seq_no">Subject Name</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text"
                                           ng-model="lecture.subject"
                                           value="{{lecture.subject}}" ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="total_lecture_no">No of Lecture</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text" placeholder=" Enter No of Lecture"
                                           ng-model="lecture.total_lecture_no"
                                           value="{{lecture.total_lecture_no}}" ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="doubt_clearing_count">Doubt clearing Count</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text" placeholder=" Enter Doubt clearing Count"
                                           ng-model="lecture.doubt_clearing_count" value="{{lecture.doubt_clearing_count}}"
                                           name="doubt_clearing_count" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="lecture_no">Lecture No</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text" placeholder="Enter Lecture No"
                                           ng-model="lecture.lecture_no" value="{{lecture.lecture_no}}"
                                           name="lecture_no" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="present_head_count">Present Head Count</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text" placeholder=" Enter Present Head Count"
                                           ng-model="lecture.present_head_count"
                                           value="{{lecture.present_head_count}}"
                                           name="present_head_count"
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="mentoring_count">Mentoring Count</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text" placeholder=" Enter Mentoring Count"
                                           ng-model="lecture.mentoring_count" value="{{lecture.mentoring_count}}"
                                           name="mentoring_count" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button ng-click="update()" class="btn btn-lg  btn-grn btn-success" id="singlebutton"> UPDATE
                                </button>
                            </div>
                        </div>
                    </div>
                 </div>
            </form>
            <div class="clearfix"></div>
        <br>
        <br>
        <br>
    </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" async defer>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    // Ripple-effect animation
    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({height: d, width: d});
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);


</script>
