<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                   uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </div>
</script>
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Brand
                </a>
            </li>
            <li>
                <a href="#/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#/attendance">Attendance</a>
            </li>
            <li>
                <a href="#/information">Lecture Details</a>
            </li>
            <li>
                <a href="#/question-set">Mentoring</a>
            </li>
            <li>
                <a href="#/dashboard">Doubt Clearing</a>
            </li>

            <li>
                <a href="#/report">Reports</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top yellow-color ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="hamburger is-closed pull-left" data-toggle="offcanvas">
                        <i class="material-icons">menu</i>
                    </a>
                    <a class="navbar-brand"> {{username}} </a> <a ng-click="logout()" type="button"
                                                                  class="pull-right ">
                    <i class="material-icons ">settings_power</i></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <form name="questionInfo" novalidate ng-init="getBranch()">
                <div>
                    <h3>Mentoring</h3>
                    <!-- Standard Select -->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="Branch">Batch</label>
                                <div class='input-group date'>
                                    <select class="browser-default" ng-model="newUser.branch_name" name="batch"
                                            ng-change="loadStudent(newUser.branch_name)" required>
                                        <option value="" disabled selected>Select Batch</option>
                                        <option ng-repeat="x in branchname" value="{{x}}">{{x}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="Branch">Roll No:</label>
                                <select class="browser-default" ng-disabled="!studentLoaded" ng-model="selectedStudent"
                                        ng-init="selectedStudent = studentData[0]" name="roll_number"
                                        ng-options="x.roll_number for x in studentData" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="lable-size" for="Branch">Start Time</label>
                            <div class='input-group date'>
                                <input class="input lable-ip" type="text" ng-model="start_time" ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="lable-size" for="Branch">End Time</label>
                            <div class='input-group date'>
                                <input class="input lable-ip" type="text" ng-model="end_time" ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Student Name:</label>
                            <h3 class="studentname">
                                <strong>{{selectedStudent.studentName}}</strong>
                            </h3>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="question-area">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group heading="{{x.sectionName}}" ng-repeat="x in sectionData"
                                             ng-init="newUser.sectionDetails[$index].sectionId = x.sectionId;outindex=$index"
                                             ng-model="newUser.sectionDetails[$index].sectionId">
                            <div class="">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="res in x.questionList track by $index"
                                        ng-init="newUser.sectionDetails[outindex].rawData[$index].selectedAns = res;innerindex=$index"
                                        ng-model="newUser.sectionDetails[outindex].rawData[$index].selectedAns">
                                        <h5>
                                            <label>{{res.question_name}}</label></h5>
                                        <div class="clearfix"></div>
                                        <div class="form-group pull-right">
                                            <div data-toggle="buttons" ng-init="response = 'Y';res.answer = response">
                                                <label class="btn btn-default checbox-action btn-action active btn-sm "
                                                       ng-click="hideBox(res)"> <input
                                                        type="radio" name="q1" value="Y" ng-model="response">Y</label>
                                                <label class="btn btn-default checbox-action  btn-action btn-no  btn-sm"
                                                       ng-click="showBox(res)">
                                                    <input type="radio" name="q1" value="N" ng-model="response"/>N
                                                </label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <textarea name="comment" type="text/submit/hidden/button/etc"
                                                  class="form-control col-sm-12" value=""
                                                  ng-show="res.showBox" ng-model="res.comment"
                                                  required="required"></textarea>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion-group>

                    </uib-accordion>
                </div>
                <br/>
                <div class="">
                    <button class="btn btn-success btn-block" ng-click="submitQuestion()"
                            ng-disabled="questionInfo.batch.$invalid || !studentData.length || questionInfo.roll_number.$invalid">
                        SUBMIT
                    </button>
                </div>
                <br/>
                <br/>
            </form>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script type="text/javascript" charset="utf-8" async defer>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    // Ripple-effect animation
    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({height: d, width: d});
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);

