<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Brand
                </a>
            </li>
            <li>
                <a href="#/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#/attendance">Attendance</a>
            </li>
            <li>
                <a href="#/information">Lecture Details</a>
            </li>
            <li>
                <a href="#/question-set">Mentoring</a>
            </li>
            <li>
                <a href="#/dashboard">Doubt Clearing</a>
            </li>

            <li>
                <a href="#/report">Reports</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" style="background: #fff;">
        <nav class="navbar navbar-default navbar-fixed-top yellow-color ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="hamburger is-closed pull-left" data-toggle="offcanvas">
                        <i class="material-icons">menu</i>
                    </a>
                    <a class="navbar-brand"> {{username}} </a> <a ng-click="logout()" type="button"
                                                                           class="pull-right "><i
                        class="material-icons ">settings_power</i></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <form name="contact">
                <div class=" ">
                    <!-- Standard Select -->
                    <h3>Contact Us</h3>
                    <div class="">
                        <!-- Standard Select -->
                        <label class="lable-name lable-size" for="subject">Name:</label>
                        <div class="mdl-selectfield">
                            <input class="input lable-ip" type="text" placeholder="Enter the Name"
                                   ng-model="contactData.name" name="name" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="">
                        <!-- Standard Select -->
                        <label class="lable-name lable-size" for="subject">Phone Number:</label>
                        <div class="mdl-selectfield">
                            <input class="input lable-ip" type="text" placeholder="Enter the Phone Number"
                                   ng-model="contactData.phone" name="phone" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="">
                        <!-- Standard Select -->
                        <label class="lable-name lable-size" for="subject">Email:</label>
                        <div class="mdl-selectfield">
                            <input class="input lable-ip" type="email" placeholder="Enter the Email"
                                   ng-model="contactData.email" name="email" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="">
                        <!-- Standard Select -->
                        <label class="lable-name lable-size" for="subject">Message:</label>
                        <div class="mdl-selectfield">
                            <textarea class="input lable-ip" ng-model="contactData.comment" name="comment"
                                      placeholder="Enter the Message"></textarea>
                        </div>
                    </div>

                    <input class="lable-ip" type="hidden"
                           ng-model="contactData.teacher_id"/>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button ng-click="register()" class="btn btn-lg  btn-grn btn-success"
                                        ng-disabled="!contact.name.$valid || !contact.phone.$valid || !contact.email.$valid||
                                    !contact.comment.$valid"
                                        id="singlebutton"> SUMBIT
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <br>
    </div>
</div>
<script type="text/javascript" charset="utf-8" async defer>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    // Ripple-effect animation
    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({height: d, width: d});
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);


</script>
