<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Brand
                </a>
            </li>
            <li>
                <a href="#/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#/attendance">Attendance</a>
            </li>
            <li>
                <a href="#/information">Lecture Details</a>
            </li>
            <li>
                <a href="#/question-set">Mentoring</a>
            </li>
            <li>
                <a href="#/dashboard">Doubt Clearing</a>
            </li>

            <li>
                <a href="#/report">Reports</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" style="background: #fff;">
        <nav class="navbar navbar-default navbar-fixed-top yellow-color ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="hamburger is-closed pull-left" data-toggle="offcanvas">
                        <i class="material-icons">menu</i>
                    </a>
                    <a class="navbar-brand"> {{username}} </a> <a ng-click="logout()" type="button"
                                                                  class="pull-right "><i
                        class="material-icons ">settings_power</i></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <form name="myInformation">
                <div class=" ">
                    <h3>Lecture Details</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-name lable-size" for="Branch">Course</label>
                                <div class='input-group courseName'>
                                    <select class="browser-default" ng-model="newUser.courseName" name="courseName"
                                            ng-init="getBranch()" required>
                                        <option value="" disabled selected>Select Course</option>
                                        <option ng-repeat="x in coursename" value="{{x}}">{{x}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-name lable-size" for="Branch">Batch</label>
                                <div class='input-group batch'>
                                    <select class="browser-default" ng-model="newUser.branch_name" name="branch_name"
                                            ng-disabled="!newUser.courseName" required>
                                        <option value="" disabled selected>Select Batch</option>
                                        <option ng-repeat="x in branchname" value="{{x}}">{{x}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="today_date">Date</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input class="input lable-ip" type="date" placeholder="dd/mm/yyyy"
                                           ng-model="newUser.today_date" min="{{minDateVal | date : 'yyyy-MM-dd'}}"
                                           max="{{maxDateVal | date : 'yyyy-MM-dd'}}" name="today_date" required/>
                                    <span class="input-group-addon calender"> <i
                                            class="material-icons">date_range</i> </span>                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-name lable-size" for="subject">Subject</label>
                                <div class='input-group subject'>
                                    <select class="browser-default" ng-model="newUser.subject"
                                            ng-change="loadTopic(newUser.subject,newUser.courseName)"
                                            name="subject" ng-disabled="!newUser.courseName" required>
                                        <option value="" disabled selected>Select Subject</option>
                                        <option ng-repeat="sub in subject" value="{{sub}}">{{sub}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-name lable-size" for="topic_taught">Topic Taught</label>
                                <div class='input-group topic_taught'>
                                    <select class="browser-default" ng-model="newUser.topic_taught"
                                            name="topic_taught" required ng-disabled="!topicsLoaded"
                                            ng-change="loadLectureNo(newUser.topic_taught)">
                                        <option value="" selected>Select Topic</option>
                                        <option ng-repeat="x in topics track by $index" value="{{x.id}}">{{x.topic_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="seq_no">Sequence No</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="text" name="lectureNo.seq_no" readonly="readonly"
                                           value="{{lectureNo.seq_no}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="total_lecture_no">No of Lecture</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="number"
                                           ng-model="newUser.total_lecture_no" name="total_lecture_no"
                                           disabled="disabled" min="{{lectureNo.total_lecture_no}}"
                                           value="{{lectureNo.no_lecture}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="doubt_clearing_count">Doubt clearing Count</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="number" placeholder=" Enter Number"
                                           ng-model="newUser.doubt_clearing_count" name="doubt_clearing_count" min="0"
                                           />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="lecture_no">Lecture No</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="number" placeholder="Enter Number"
                                           ng-model="newUser.lecture_no" name="lecture_no" min="1" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="present_head_count">Present Head Count</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="number" placeholder=" Enter Present Name"
                                           ng-model="newUser.present_head_count" name="present_head_count" min="0"
                                           /></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="mentoring_count">Mentoring Count</label>
                                <div class='input-group date'>
                                    <input class="lable-ip" type="number" placeholder=" Enter Number"
                                           ng-model="newUser.mentoring_count"
                                           name="mentoring_count" min="0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="time">Start Time</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input class="lable-ip col-sm-12" type="time" placeholder="00.00am"
                                           ng-change="checkTime()" style="width:140px" ng-model="start_time"
                                           name="start_time" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="lable-size" for="end_time">End Time</label>
                                <div class='input-group date'>
                                    <input class="lable-ip col-sm-12" type="time" style="width:130px"
                                           ng-change="checkTime()" placeholder="00.00am"
                                           ng-disabled="!myInformation.start_time.$valid"
                                           ng-model="end_time" name="end_time" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <input class="lable-ip" type="hidden"
                           ng-model="newUser.teacher_id"/>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button ng-click="register()" class="btn btn-lg  btn-grn btn-success"
                                        ng-disabled="!myInformation.branch_name.$valid || !myInformation.today_date.$valid || !myInformation.subject.$valid|| !myInformation.topic_taught.$valid|| !myInformation.lecture_no.$valid|| !myInformation.start_time.$valid|| !myInformation.end_time.$valid"
                                        id="singlebutton"> SUMBIT
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <br>
    </div>
</div>
<script type="text/javascript" charset="utf-8" async defer>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    // Ripple-effect animation
    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({height: d, width: d});
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);


</script>
