<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Brand
                </a>
            </li>
            <li>
                <a href="#/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#/attendance">Attendance</a>
            </li>
            <li>
                <a href="#/information">Lecture Details</a>
            </li>
            <li>
                <a href="#/question-set">Mentoring</a>
            </li>
            <li>
                <a href="#/dashboard">Doubt Clearing</a>
            </li>

            <li>
                <a href="#/report">Reports</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="background: #fff;">
        <nav class="navbar navbar-default navbar-fixed-top yellow-color ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="" class="hamburger is-closed pull-left" data-toggle="offcanvas">
                        <i class="material-icons">menu</i>
                    </a>
                    <a
                            class="navbar-brand"> {{username}} </a>
                    <a ng-click="logout()" href="" type="button" class="pull-right ">
                        <i class="material-icons ">settings_power</i>
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <h3>Reports</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="lable-size" for="branch">Date</label>
                        <div class="input-group date" id="datetimepicker1">
                            <input class="input lable-ip" type="date" placeholder="dd/mm/yyyy" ng-model="today_date"
                                   min="{{minDateVal | date : 'yyyy-MM-dd'}}"
                                   max="{{maxDateVal | date : 'yyyy-MM-dd'}}"/>
                            <span class="input-group-addon calender"> <i class="material-icons">date_range</i> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <a type="button" ng-click="viewList(today_date)" class="btn btn-lg  btn-grn btn-success"
                           id="singlebutton"> VIEW</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-hide="!resultData.length">
                <div class="col-sm-12">
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Batch</th>
                            <th>Taught Topic</th>
                            <th>Balance Lectures</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in resultData">
                            <td>{{x.date | date : "dd-MM-yyyy"}}</td>
                            <td>{{x.batch}}</td>
                            <td>{{x.topic_taught}}</td>
                            <td>{{x.balence_lecture}}</td>
                            <td><a href="#/lecture/{{x.id}}">Edit</a></td>
                            <td><a href="#" ng-click="deleteInformation(x.id)"
                                   onclick="return confirm('Are you sure?')">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="!resultData.length">
                <div class="col-sm-12">&nbsp;<ul ng-if="displayResult">
                    <li style="list-style: none"><h3>No record Found!!</h3></li>
                </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<script type="text/javascript" charset="utf-8" async defer>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    // Ripple-effect animation
    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({height: d, width: d});
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);


</script>

</body>
</html>
